<!-- <h2>The Header</h2> -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Recipe book</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
        <!--1.create (click)="onSelect('recipe')" event handlers here on the a links, that will recieve as parameter value 'recipe' string and 'shopping-list'string-->
        <!--Adding Navigation to the App
        //1.(lecture.157-Adding navigation to the app)//remove (or comment) the event listeners on link and href and instead that, add routerLink directive="/recipes(with / is apsolute path, and without /is relative path)"--> 
            <!-- <li><a href="#" (click)="onSelect('recipe')">Recipes</a></li> -->
        <!--1.(158.marking active routes)
            //we need to dinamicaly add the bootstrap class="active" in the both li items->with directive routerLinkActive="active"-->
            <li routerLinkActive="active"><a routerLink="/recipes">Recipes</a></li>
                <!--onSelected('recipe', $event) =>this method can received one more arg/parameter and that would be $event obj.$event always refer/point to the event's data that we pass in our method as input value (refer/point to 'recipe')-->
                <!-- <li><a href="#" (click)="onSelect('shopping-list')">Shopping List</a></li> -->
                <li routerLinkActive="active"><a routerLink="/shopping-list">Shopping List</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" appDropdown>
                    <!--2.(159)-//Remove href(to avoid reload the page t.e. to avoid sending http requests to the browser that will slow out app) also on these links ad add attribute style="cursor:poniter" on the 2 links-->
                    <a style="cursor: pointer;" class="dropdown-toggle" role="button">Menage <span class="caret"></span></a>
                    <ul class="dropdown-menu">
            <!--//7(281)now make sure that storeRecipe() is called (and this method will be call in Header comp.add (click) listener here in Herade component;s template on these button (click)="onSaveData()"-->
                        <li><a style="cursor: pointer;" (click)="onSaveData()">Save Data</a></li>
                        <!-- <li><a style="cursor: pointer;" (click)="onLoadData()">Fetch Data</a></li> -->
                        <li><a style="cursor: pointer;">Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>