<!-- <p>recipe-edit works!</p> 
/////////////226. Creating the Template for the (Reactive) Recipe Edit Form
1.(226)Creating template form in recipes-edit comp.html (for the (Reactive) Recipe Edit Form)-->

<div class="row">
    <div class="col-xs-12">
<!--///////////////228. Syncing HTML with the Form
//2.(228)in form tag, add directive formGroup in [] (in [] because I want to pass some data to this directive with property binding) and data will be our recipeForm. t.e. [formGroup]="recipeForm".with this we can menage this form, not by angular-->
    <!--4.(228)to be able to see something, we can add (ngSubmit) listener ="onSubmit(here we don't need to pass our form object as argument like in TD/template driven forms, but instead I will add this method in my ts code)"-->    
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-success">Save</button>
                    <button type="button" class="btn btn-danger">Cancel</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Name</label>
        <!--3.(228)we can menage/add our own formControls with directive formControlName (this directive will bind/sinc with 'name' property(as new form Control).do the same with 'imagePath' and with 'description' formControls) -->
                        <input 
                        type="text"
                        id="name"
                        formControlName="name"
                        class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="imagePath">Image URL</label>
                        <input 
                        type="text"
                        id="imagePath"
                        formControlName="imagePath"
                        class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <img src="" alt="" class="img-responsive">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="desciption">Description</label>
                        <textarea
                        type="text"
                        id="desciption"
                        formControlName="desciption"
                        class="form-control"
                        rows="6"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-8">
                            <input 
                            type="text"
                            class="form-control">
                        </div>
                        <div class="col-xs-2">
                            <input 
                            type="number"
                            class="form-control">
                        </div>
                        <div class="col-xs-2">
                            <button class="btn btn-danger">X</button>
                        </div>
                    </div>                
                </div>
            </div>
        </form>
    </div>
</div>

