<!-- <p>recipe-edit works!</p> 
/////////////226. Creating the Template for the (Reactive) Recipe Edit Form
1.(226)Creating template form in recipes-edit comp.html (for the (Reactive) Recipe Edit Form)-->

<div class="row">
    <div class="col-xs-12">
<!--///////////////228. Syncing HTML with the Form
//2.(228)in form tag, add directive formGroup in [] (in [] because I want to pass some data to this directive with property binding) and data will be our recipeForm. t.e. [formGroup]="recipeForm".with this we can menage this form, not by angular-->
    <!--4.(228)to be able to see something, we can add (ngSubmit) listener ="onSubmit(here we don't need to pass our form object as argument like in TD/template driven forms, but instead I will add this method in my ts code)"-->    
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12">
            <!--4.(232)to can use Validation in our html we can add disable directive to disable the button if my recipeForm is invalid
            5.(232)in Css (recipe-edit.css) I can finish the Validation by mark what is invalid-->
                    <button
                    type="submit" 
                    class="btn btn-success"
                    [disabled]="!recipeForm.valid">Save</button>
                <!--6.(234)add click listener for delete button also here in recipe-edit template-->
                    <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Name</label>
        <!--3.(228)we can menage/add our own formControls with directive formControlName (this directive will bind/sinc with 'name' property(as new form Control).do the same with 'imagePath' and with 'description' formControls) -->
                        <input 
                        type="text"
                        id="name"
                        formControlName="name"
                        class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="imagePath">Image URL</label>
                        <input 
                        type="text"
                        id="imagePath"
                        formControlName="imagePath"
                        class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <img src="" alt="" class="img-responsive">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="desciption">Description</label>
                        <textarea
                        type="text"
                        id="desciption"
                        formControlName="description"
                        class="form-control"
                        rows="6"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
            <!--//6.(230)now lets sinhronize this with our html code,
            in the div.col-xs-12 add directive formArrayName='ingredients' ('ingredients' is the last formControl of my recipeForm(that is the control name of the recipeIngredients array))-->
                <div class="col-xs-12" formArrayName="ingredients">
                <!--6.each row will be our Ingredient obj(formGroup), so add directive FormGroupName="".the name of this directive we will get with from *ngFor loop like this: *ngFor=let ingredientCtrl of recipeForm.get('ingredients').controls...and the name of this directive will be current index 'i' t.e. formGroupName='i'-->
            <!--2(229)In the template, you can then use:
*ngFor="let ingredientCtrl of controls; let i = index" //we call my getter method get controls() here as a property (accessor property)--> 
                    <div 
                    class="row" 
                    *ngFor="let ingredientCtrl of controls; let i = index"
                    formGroupName="i">
                        <div class="col-xs-8">
                            <!--6.(230)we can add now formControllName for 2 inputs(name and amount)-->
                    <!--1.(231)add some style in input el-->
                            <input 
                            type="text"
                            class="form-control"
                            formControlName="name"
                            style="margin-top: 10px;">
                        </div>
                        <div class="col-xs-2">
                            <input 
                            type="number"
                            class="form-control"
                            formControlName="amount">
                        </div>
                        <div class="col-xs-2">
                            <button class="btn btn-danger">X</button>
                        </div>
                    </div>  
                    <hr>
            <!--2(231)add/create new button (of type="button")here for adding ingredient in the array and add/create (click)="onAddIngredient()" for that-->              
                    <div class="row">
                        <div class="col-xs-12">
                            <button class="btn btn-success" (click)="onAddIngredient()" type="button">Add Ingredient</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

