<!-- <p>recipes-list works!</p> -->
<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
</div>
<hr>
<!--this .row div will contain my list of Recipes-->
<div class="row">
    <div class="col-xs-12">
        <!-- <a href="#" class="list-group-item clearfix" *ngFor="let recipe of recipes">
            <div class="pull-left">
                <h4 class="list-group-item-heading">{{recipe.name}}</h4>
                <p class="list-group-item-text">{{recipe.description}}</p>
            </div>
            <span class="pull-right">
                <img src="{{recipe.imagePath}}" alt="{{recipe.name}}" class="img-responsive" style="max-height: 50px;"> 
                <img [src]="recipe.imagePath" alt="{{recipe.name}}" class="img-responsive" style="max-height: 50px;"> 
            </span>
        </a> --> 

        <!--1.cut the commented code and paste into the recipe.item comp.then remove ngFor from there and put here in app-recipe-item selectpr tag (so all item component will replicate here for each recipe)-->
        <!-- <app-recipes-item 
        *ngFor="let recipeEl of recipes"
        [recipe]="recipeEl"
        (recipeSelected)="onRecipeSelected(recipeEl)"></app-recipes-item> -->
        <app-recipes-item 
        *ngFor="let recipeEl of recipes"
        [recipe]="recipeEl"></app-recipes-item>
        <!--4'' remove that event listener in recipe-list.html-->
        <!--4.bind our own Custom event here in 1st parent recipe-list comp,
        ////5.here in this method we need some extra info, which recipe was selected, so we pass recipeEl as parameter from ngFor (instead of $event to ccess the event;s data)-->
    <!--3.bind that child Custom porperty here in this parent comp, in direcive[] t.e. [childCustom Property]="parent property" (t.e. binding cild custom property recipe with recipeEl variable of each iteracion )-->
    </div>
</div>
