<!-- <p>recipes-detail works!</p> -->
<div class="row">
    <div class="col-xs-12">
        <!-- <img src="{{recipe.imgPath}}" alt="" class="img-responsive"> -->
        <img [src]="recipe.imagePath" alt="{{recipe.imagePath}}" class="img-responsive" style="max-height: 300px;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{recipe.name}}</h1>
    </div>
</div>
<!--this .row div is for dropdown-->
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" appDropdown>
            <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe <span class="caret"></span></button>
            <ul class="dropdown-menu">
    <!--1(lecture 123)in recipe-derail in li>a link add click listener-->
    <!--2.(159)-//Remove href(to avoid reload the page) also on these links ad add attribute style="cursor:poniter" on the 3 links-->       
                <li><a (click)="onAddToShoppingList()" style="cursor: pointer;">To Shopping List</a></li>
        <!--3.(166)add (click) event listener in edit link in recipe-detail comp template-->
                <li><a style="cursor: pointer;" (click)="onEditRecipe()">Edit Recipe</a></li>
        <!--4(234)add (click)=onDeleteRecipe() listener on delete button(in recipe-detail)-->    
                <li><a style="cursor: pointer;" (click)="onDeleteRecipe()">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{recipe.description}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
<!--3''''.here I want to output the Ingredients in ul>li, and this li will replicate, so I can use *ngFor loop for loop all ingredient el of that arr and output them-->
        <ul class="list-group">
            <li class="list-group-item"
            *ngFor="let ingredient of recipe.ingredients">
            {{ingredient.name}}-{{ingredient.amount}}
        </li>
        </ul>
    </div>
</div>