<!-- <p>shopping-edit works!</p> 
/////////////////218. TD: Adding the Shopping List Form
//2nd way(with TD-template driven forms).
1(218) remove local references, remove (click)listener and instead that I will in <form (ngSubmit)="onAddItem()"
2.(218)add also local reference varibale with #f(that willm hold form element)="ngForm"//with ngForm, Angular will create js object behind the scene(js form object) and we can pass this local reference f(this js form object) as argument in the function onAddItem()
3.(218)we can register some controls..for first input we will have: name="name" //"name" is the property of js form object, then I will use ngModel constol also.for the second input we will have these constrols: name="amount"//amount is the property of the js form object and nex control will be ngModel(make sure FormsModule is imported).//the Add button will submit the form because its of type 'submit'-->
<!--//////////////219. Adding Validation to the Form
1(219)add required atribute in the input elements
2.(219)disable the add button if the form is invalid like this: [disabled]="!f.valid"
3.(219)if we want to use numbers > 0, then I will use [pattern] validator ="Regular expression"-->
<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input 
                     type="text"
                     id="name" 
                     class="form-control"
                     name="name"
                     ngModel
                     required
                     >
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <input 
                    type="number" 
                    id="amount" 
                    class="form-control"
                    name="amount"
                    ngModel
                    required
                    pattern="^[1-9]+[0-9]*$">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <!--1.create (click)=onAddItem() lestener.here I could pass local ref variables as parameters, but I will go with @VieChild approuch here-->
            <!--//////////////222. Updating existing Items
            //1.(222)this button will be named as add or update, depend of editMode (id editMode==true, then output 'Update', else update 'add')-->
                    <button class="btn btn-success" type="submit" [disabled]="!f.valid">{{ editMode ? 'Update' : 'Add'}}</button>
            <!--////////////////225. Allowing the Deletion of Shopping List Items
            1(225)on delete button add click listener-->   
                    <button 
                    class="btn btn-danger"
                     type="button" 
                     (click)="onDelete()"
                     *ngIf="editMode">Delete Item</button>
            <!--6(225) delete the item if we are in EditMode t.e. add *ngIf='editMode' on the delete button-->
                <!--/////////////224. Allowing the the User to Clear (Cancel) the Form
                1.(224)on clear button add click listener-->
                    <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!--1st way-->
<!-- <div class="row">
    <div class="col-xs-12">
        <form>
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input 
                     type="text"
                     id="name" 
                     class="form-control"
                     #nameInput>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <input 
                    type="number" 
                    id="amount" 
                    class="form-control"
                    #amountInput>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                1.create (click)=onAddItem() lestener.here I could pass local ref variables as parameters, but I will go with @VieChild approuch here-->
                    <!-- <button class="btn btn-success" type="submit" (click)="onAddItem()">Add</button>
                    <button class="btn btn-danger" type="button">Delete Item</button>
                    <button class="btn btn-primary" type="button">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div> --> 
